@import "tailwindcss";
/* @import "tailwindcss/preflight";
@tailwind utilities; */

:root {
  --background: #e3e3e3;
  --foreground: #ff6801;

  --primary: #ff6801;
  --primary-lighter: #ffb347;
  --primary-dark: #853e0f;
  --primary-white: #fff5ee;
  --primary-opacity-50: rgba(255, 179, 71, 0.5);
  --primary-opacity-20: rgba(255, 104, 1, 0.2);
  --primary-gradient: linear-gradient(
    to right,
    rgb(255, 104, 1),
    rgb(255, 179, 71)
  );

  --white: #fafafa;
  --white-gray: #f9f9f9;
  --black: #414651;
  --black-text: #0b0b0b;
  --gray_100: #e0e3e0;
  --gray_300: #b2b2b2;
  --gray_500: #696969;

  --pale-brown: #ffe8d8;
  --green: #34c759;
  --lightgreen: #64ee86;
  --darkgreen: #127a2c;
  --red: #ff3737;
  --lightred: #ff7171;
  --darkred: #7c0a0a;
  --yellow: #fff53d;

  --radius: 0.5rem;
}

@theme {
  --shadow-top: 0px -10px 10px rgba(0, 0, 0, 0.1);
  --shadow-top-2xl: 0px -10px 15px rgba(0, 0, 0, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);

  --color-primary: var(--primary);
  --color-primary-300: var(--primary-lighter);
  --color-primary-dark: var(--primary-dark);
  --color-primary-white: var(--primary-white);
  --color-primary-op-1: var(--primary-opacity-50);
  --color-primary-op-2: var(--primary-opacity-20);
  --color-gradient: var(--primary-gradient);

  --color-white: var(--white);
  --color-white-gray: var(--white-gray);
  --color-black: var(--black);
  --color-black-text: var(--black-text);
  --color-gray-100: var(--gray_100);
  --color-gray-300: var(--gray_300);
  --color-gray-500: var(--gray_500);

  --color-pale-brown: var(--pale-brown);
  --color-green: var(--green);
  --color-red: var(--red);
  --color-yellow: var(--yellow);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  --background: #eaeaea;
  --foreground: #cc1616;

  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
h5 {
  @apply text-base;
}

body * ::-webkit-scrollbar {
  display: none;
}

.full-shadow {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
}

.inspected-dates {
  background-color: var(--primary-lighter);
  color: var(--white);
  border-radius: 50%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btm-box-shadow {
  box-shadow: inset 0 -10px 10px -10px rgba(255, 104, 1, 1);
}

.gradient-bg {
  background: linear-gradient(to right, #ffb969, #ff8903, #ff6801);
}

.gradient-bg:hover {
  background: linear-gradient(to right, #ff6801, #ff8903, #ffb969);
}

.green-gradient {
  background: linear-gradient(#64ee86, #4be070, #34c759);
}

.red-gradient {
  background: linear-gradient(#ff7171, #fc5252, #ff3737);
}

.btn-gradient {
  background: linear-gradient(to right, #ffb969, #ff8903, #ff6801);
}

.btn-gradient:hover {
  background: var(--white);
  border: 2px solid var(--primary);
  color: var(--primary);
}

/* .hover-selection {
  @apply hover:border-l-[30px] hover:border-[#ffb347] cursor-pointer;
} */

.box-design {
  border: none;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hover-selection:hover {
  border-left: 30px solid var(--primary-lighter);
  cursor: pointer;
}

.popover-design {
  padding: 0px;
  border: none;
  background-color: var(--white);
  /* border: 2px solid var(--white); */
  border: 1px solid var(--primary-lighter);
  /* border-radius: 0.5rem; */
  /* box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 3px 9px 3px rgba(239, 112, 49, 0.3);

  box-sizing: border-box;
}

.popover-lang {
  padding: 0px;
  border: none;
  background-color: var(--white);
  /* border: 2px solid var(--white); */
  border: 1px solid var(--primary-lighter);
  /* border-radius: 0.5rem; */
  box-shadow: 0 3px 9px 3px rgba(239, 112, 49, 0.3);
  box-sizing: border-box;
}

.popover-select {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

.popover-select:active,
.popover-select:hover {
  background-color: var(--primary);
  color: var(--white);
}

.select-ring[data-state="open"] {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.selection-hover:hover {
  background-color: var(--primary);
  color: var(--white);
}

.popover-content {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 0.75rem 1.25rem;
  font-size: 14px;
  border: 0px solid var(--white);
  box-sizing: border-box;
}

.popover-content:hover {
  border-left: 30px solid var(--primary-lighter);
  cursor: pointer;
}
/* flex flex-row gap-2 w-fit items-center gradient-bg text-white text-lg text-nowrap px-5 py-2 rounded-sm cursor-pointer */
/* .popover-trigger {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: fit-content;
  align-items: center;
  color: var(--white);
  font-size: 1rem;
  white-space: nowrap;
  padding: 1.125rem 0.75rem 1.125rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
} */

.btn-css {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: fit-content;
  align-items: center;
  color: var(--white);
  font-size: 1rem;
  white-space: nowrap;
  padding: 1.125rem 0.75rem 1.125rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.number-box {
  display: flex;
  padding: 6px 20px 6px 20px;
  border: 1px solid var(--gray_300);
  /* border-radius: 8px; */
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--black-text);
}

.number-btns {
  padding: 9px 10px 9px 10px;
  color: var(--black-text);
  background-color: none;
  border: 0.5px solid var(--gray_300);
}
.number-btns:hover,
.number-btns:active {
  border: 0.5px solid var(--primary);
  background-color: var(--primary-opacity-20);
  /* background-color: var(--gray_300); */
  /* color: var(--white); */
  cursor: pointer;
}

.cancel-btn {
  background-color: var(--gray_100);
  /* background: linear-gradient(#ebebeb, #e0e0e0, #b2b2b2); */
  color: var(--black-text);
  border-radius: 6px;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: var(--gray_300);
  color: var(--white);
  /* background: linear-gradient(#b2b2b2, #e0e0e0, #ebebeb); */
}

.checkbox-css {
  width: 1rem;
  height: 1rem;
}

.checkbox-css[data-state="checked"] {
  background-color: var(--primary);
  border: none;
  color: var(--white);
}

.input-invis {
  border: none;
}
.input-invis:focus-visible {
  outline: none;
  box-shadow: none;
}
